{% extends "template.html" %}

{% block content %}


                                

                                <div class="booking-form-body">
                                    
                                    <div class="text-center mb-4 pb-lg-2">
                                        <em class="text-white">Universidad Nacional de Loja</em>
                                        <h2 class="text-white">Datos no encontrados</h2>
                                        <a href="http://127.0.0.1:5000/atenciones" class="btn custom-btn custom-border-btn">Regresar</a>
                                    </div>
                                    {% endblock %}